<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Cadastro</title>
</head>
<body>
    <div>
        <h1>Dados do Usuário</h1>
        <hr>
        <form th:action="@{/usuarios/novo}" th: object="${usuario}" method="POST">
            <input id="ativo" type="hidden" th:field="*{id}"/>
    </div>
            <div>
                <label for="nome">Nome:</label>
                <input id="nome" type="text" th:field="*{nome}" placeholder="Digite o nome"/>
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" th:field="*{email}" placeholder="Digite o email"/>
            </div>
            <div>
                <label for="senha">Senha:</label>
                <input id="senha" type="password" th:field="*{senha}" placeholder="Digite a senha"/>
            </div>
            <div>
                <button type="submit">Salvar</button>
            </div>
        </form>

</body>
</html>