<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Unidades</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 4.5rem
        }
    </style>
</head>

<body>

    <div th:replace="~{fragments/menu :: menu}"></div>


    <div class="container">
        <div class="bg-light p-5 rounded">
            <h1>Unidades</h1>
            <hr>

            <a class="btn btn-primary" th:href="@{/unidades/novo}">Nova</a>
            <hr>

            <table class="table table-hover">
                <tr>
                    <th>Nome</th>
                    <th>Endereço</th>
                    <th></th>
                </tr>
                <tr th:each="u : ${unidades}">
                    <td th:text="${u.nome}"></td>
                    <td th:text="${u.endereco}"></td>
                    <td>
                        <a th:href="@{/unidades/edita/{id}(id=${u.idUnidade})}"
                            class="btn btn-sm btn-secondary">Editar</a>
                        <a th:href="${/unidades/delete/{id}(id=${unidade.id})}" class="btn  btn-sm btn-secondary"
                            th:unless="${unidade.delete == false}">Deletar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>

</html>