<!DOCTYPE html>
<html lang="pt-br"> xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <div>
        <h1>Dados do Usuário</h1>
        <hr>

        <form th:action="@{/usuarios}" th:object="${usuario}" method="POST">

            <input type="hidden" th:field="*{id}"/>

            <div>
                <label for="login">Login:</label>
                <input id="login" type="text" th:field="*{login}" placeholder="Digite o login"/>
            </div>

            <div>
                <label for="senha">Senha:</label>
                <input id="senha" type="password" th:field="*{senha}" placeholder="Digite a senha"/>
            </div>

            <div>
                <label for="funcao">Função:</label>
                <select id="funcao" th:field="*{funcao}">
                    <option value="" disabled selected>Selecione...</option>
                    <option th:each="f : ${T(com.example.sghss.model.FuncaoUsuario).values()}"
                            th:value="${f}"
                            th:text="${f}">
                    </option>
                </select>
            </div>

            <div>
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
</body>
</html>
