<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <div>
        <h1>Lista de Usuários</h1>
        <hr>

        <div>
            <a th:href="@{/usuarios/novo}">Adicionar Novo Usuário</a>
        </div>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Login</th>
                    <th>Função</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="usuario : ${usuarios}">
                    <td th:text="${usuario.id}"></td>
                    <td th:text="${usuario.login}"></td>
                    <td th:text="${usuario.funcao}"></td>

                    <td>
                        <a th:href="@{'/usuarios/editar/' + ${usuario.id}}">Editar</a> |
                        <a th:href="@{'/usuarios/delete/' + ${usuario.id}}">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</body>
</html>
