<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Profissionais</title>
</head>
<body>
    <h1>Lista de Profissionais</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Especialidade</th>
            </tr>
        </thead>
        <tbody>
                
            <tr>
                <td>Lucas Santos</td>
                <td>lucas.santos@example.com</td>
                <td>(11) 98765-4321</td>
                <td>Cardiologista</td>
            </tr>
        </tbody>
    </table>
</body>
</html>