<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <h1>Administrador</h1>
    <form action="#" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required><br><br>

        <label for="atvo">Registro Ativo:</label>
        <input type="checkbox" id="ativo" th:field="*{ativo}">
        <br><br>

        <input type="submit" value="Enviar">
    </form>
</body>
</html>