<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
   <nav th:fragment="menu" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
         <a class="navbar-brand" href="/">Vida Plus</a>
         
         <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
               <li class="nav-item"><a class="nav-link active" href="/pacientes">Paciente</a></li>
               <li class="nav-item"><a class="nav-link active" href="/consultas">Consulta</a></li>
               <li class="nav-item"><a class="nav-link active" href="/teleconsultas">Teleconsulta</a></li>

               <li class="nav-item" sec:authorize="hasRole('ADMINISTRADOR')">
                  <a class="nav-link active" href="/profissionais">Profissional</a>
               </li>
               <li class="nav-item" sec:authorize="hasRole('ADMINISTRADOR')">
                  <a class="nav-link active" href="/unidades">Unidade</a>
               </li>
               <li class="nav-item" sec:authorize="hasRole('ADMINISTRADOR')">
                  <a class="nav-link active" href="/logs">Log Auditoria</a>
               </li>
               <li class="nav-item" sec:authorize="hasRole('ADMINISTRADOR')">
                  <a class="nav-link active" href="/relFinanceiros/lista">Financeiro</a>
               </li>

               <li class="nav-item"><a class="nav-link active" th:href= "@{/logout}">Sair</a></li>
            </ul>
         </div>
      </div>
   </nav>
</body>
</html>