<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Consulta</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 4.5rem;
        }
    </style>
</head>

<body>
    <div th:replace="~{fragments/menu :: menu}"></div>


    <div class="container">
        <div class="bg-light p-5 rounded">

            <h1>Agendamento de Consulta</h1>
            <hr>

            <form th:action="@{/consultas}" th:object="${consulta}" method="POST">

                <div class="mb-3">
                    <label class="form-label">Paciente:</label>
                    <select class="form-select" th:field="*{paciente}" required>
                        <option value="" disabled selected>Selecione</option>
                        <option th:each="p : ${pacientes}" th:value="${p}" th:text="${p.nome}"></option>
                    </select>
                    <span style="color:red;" th:if="${#fields.hasErrors('paciente')}" th:errors="*{paciente}"></span>
                </div>
                <div class="row">

                    <div class="col-6 mb-3">
                        <label class="form-label" for="especialidade">Especialidade:</label>
                        <select id="especialidade" class="form-select" th:field="*{especialidade}">
                            <option value="" disabled selected>Selecione</option>
                            <option th:each="esp : ${especialidades}" th:value="${esp}" th:text="${esp.descricao}"></option>
                        </select>
                        <span style="color:red;" th:if="${#fields.hasErrors('especialidade')}"
                            th:errors="*{especialidade}"></span>
                    </div>

                    <div class="col-6 mb-3">
                        <label class="form-label">Profissional:</label>
                        <select id="profissional" name="profissional.id" class="form-select">
                            <option value="">Selecione</option>
                        </select>
                    </div>


                </div>

                <div class="row">
                    <div class="col-6 mb-3">
                        <label class="form-label" for="dataConsulta">Data:</label>
                        <input class="form-control" type="date" th:field="*{dataConsulta}" />
                        <span style="color:red;" th:if="${#fields.hasErrors('dataConsulta')}"
                            th:errors="*{dataConsulta}"></span>
                    </div>

                    <div class="col-6 mb-3">
                        <label class="form-label" for="horaConsulta">Horário:</label>
                        <select class="form-select" th:field="*{horaConsulta}">
                            <option value="" disabled selected>Selecione</option>
                            <option th:each="h : ${horariosDisponiveis}" th:value="${h}" th:text="${h}">
                            </option>
                        </select>
                        <span style="color:red;" th:if="${#fields.hasErrors('horaConsulta')}"
                            th:errors="*{horaConsulta}"></span>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="descricaoConsulta">Descrição:</label>
                    <textarea class="form-control" th:field="*{descricaoConsulta}"
                        placeholder="Detalhes da consulta"></textarea>
                </div>

                <div class="mt-4">
                    <input class="btn btn-primary" type="submit" value="Agendar" />
                </div>
            </form>

        </div>
    </div>

</body>
<script>
document.getElementById("especialidade").addEventListener("change", function () {
  fetch("/profissionais/especialidade/" + this.value)
    .then(r => r.json())
    .then(d => {
      let select = document.getElementById("profissional");
      select.innerHTML = '<option value="">Selecione</option>';
      d.forEach(p => {
        select.innerHTML += `<option value="${p.id}">${p.nome}</option>`;
      });
    });
});
</script>


</html>